[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/Hansyo/.emacs.d.git
[submodule ".zshrc.d/zsh-git-prompt"]
	path = .zshrc.d/zsh-git-prompt
	url = https://github.com/Hansyo/zsh-git-prompt.git
